.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 83, 83);
    margin: 4rem 6rem;
    width: auto;
    height: 170px;
}
.details-text h2{
    color: white;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.details-datas{
    display: flex;

    flex-wrap: wrap;
}

.details-data{
    
    width: 150px;
}
.details-data h5{
  color:white;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}
.details-data p{
    color: white;
    font-size: 13px;
}

@media screen and (max-width:800px){
    .details{
       
        height: 200px;
        margin: 1rem 4rem;
    }
    
    .details-text h2{
        font-size: 20px;
    }
   
    .details-data{
        width: 80px;
        margin: 3px 0;
    }
    .details-data h5{
        font-size: 15px;
        font-weight: 500px;
    }
    .details-data p{
        margin: 0;
    }
}

@media screen and (max-width:600px){

    .details{
        
        margin: 1rem 2rem;
        height: 250px;
    }
}

@media screen and (max-width:450px){

    .details{
        flex-direction: column;
        justify-content: center;
        margin: 1rem 2rem;
        height: 200px;
    }
}