.experinece{
    margin: 6rem 0;
}
.experinece-section-heading p{
    color: red;
    font-size: 18px;
    font-weight: 600;
}
.experinece-section{
    display: flex;
    justify-content: space-between;
}
.experinece-text{
    width:50%;
}
.experinece-heading h2{
    color: black;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    margin: 0;
  
}
.experinece-points{
    margin: 3rem 0 0 0;
}
.experinece-point-line{
    display: flex;
    align-items: flex-start;
}
.experinece-point-number-count{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-right: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.experinece-point-number p{
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.experinece-point-text h3{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.experinece-point-text p{
    font-size: 14px;

}






.experinece-image{
    width:50%;
    display: flex;
    justify-content: center;
}

.experinece-image img{
    width: 100%;
    height: 450px;
    padding-left: 3rem;
    
}



@media screen and (max-width:800px){

    .experinece-section{
        flex-direction: column;
    }
    .experinece-text{
        width:100%;
    }
    .experinece-image{
        width: 100%;
    }
    .experinece-image img{
        width: 100%;
        height: 270px;
        padding:0;
        
    }

}
